@charset "utf-8";
.calendar-container {
	display: inline-block;
	text-align: center;
	border: 10px solid #e2d5cd;
	border-image: -webkit-linear-gradient(#e2d5cd, #fff 50% ,#e2d5cd) 30 30;
	border-image: -moz-linear-gradient(#e2d5cd, #fff 50% ,#e2d5cd) 30 30;
	border-image: linear-gradient(#e2d5cd, #fff 50% ,#e2d5cd) 30 30;
	box-shadow: 0 0 5px;
	overflow: hidden;
	width: 240px;
}
.calendar-container > div{
	padding: 5px 10px;
	font-weight: bolder;
}
.display-part{
	background-color: #b10000;
	color: #FFFFFF;
	letter-spacing: 5px;
}
.opt-part{
	background-color: rgba(0,0,0,0.1);
}
.btn-part{
	border: transparent;
	background: transparent;
	margin: 0px 10px;
	cursor: pointer;
	padding: 0px 15px;
}
.calendar-container table td{
	padding: 5px;
}
.calendar-container table thead{
	font-weight: bolder;
}
.calendar-container table td:first-child,.calendar-container table td:last-child{
	color: #b10000;
}
.today-part{
	background-color: rgba(0,0,0,0.3);
	color: #FFFFFF;
	font-weight: bolder;
}
.out-day {
	color: rgba(0, 0, 0, 0.5);
	opacity: 0.4;
}