@charset "utf-8";
.calender-container {
	display: inline-block;
	text-align: center;
	border: 10px solid #e2d5cd;
	border-image: -webkit-linear-gradient(#e2d5cd, #fff 50% ,#e2d5cd) 30 30;
	border-image: -moz-linear-gradient(#e2d5cd, #fff 50% ,#e2d5cd) 30 30;
	border-image: linear-gradient(#e2d5cd, #fff 50% ,#e2d5cd) 30 30;
	box-shadow: 0 0 5px;
}
.calender-container > div{
	padding: 5px 10px;
	font-weight: bolder;
}
.display-part{
	background-color: #c40001;
	color: #FFFFFF;
	letter-spacing: 5px;
}
.opt-part{
	background-color: rgba(0,0,0,0.1);
}
.btn-part{
	border: transparent;
	background: transparent;
	margin: 0px 10px;
	cursor: pointer;
	padding: 0px 15px;
}
.calender-container table{
	padding: 5px 10px;
}
.calender-container table td{
	padding: 5px;
}
.calender-container table thead{
	font-weight: bolder;
}
.calender-container table td:first-child,.calender-container table td:last-child{
	color: red;
}
.today-part{
	background-color: rgba(0,0,0,0.3);
	color: #FFFFFF;
	font-weight: bolder;
}
.out-day {
	color: rgba(0, 0, 0, 0.5);
	opacity: 0.4;
}